<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Chicken</string>
	<key>CFBundleGetInfoString</key>
	<string>Chicken version 2.1b2, Copyright 2002-2006 Geekspiff.</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.chicken</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Chicken</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1b2</string>
	<key>CFBundleSignature</key>
	<string>ChkV</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>VNC URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vnc</string>
				<string>rfb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.1b2</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>OSX_RFBViewer</string>
	<key>NSPrincipalClass</key>
	<string>MyApp</string>
	<key>SUFeedURL</key>
	<string>http://chicken.sourceforge.net/chicken.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
