<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConnectionFullscreenScenario</key>
	<array>
		<dict>
			<key>Characters</key>
			<string>p</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Mode plein écran</string>
		</dict>
	</array>
	<key>ConnectionWindowFrontmostScenario</key>
	<array>
		<dict>
			<key>Characters</key>
			<string>p</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Mode plein écran</string>
		</dict>
	</array>
	<key>NonConnectionWindowFrontmostScenario</key>
	<array>
		<dict>
			<key>Characters</key>
			<string>?</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Aide Chicken of the VNC</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>p</string>
			<key>Modifiers</key>
			<integer>1572864</integer>
			<key>Title</key>
			<string>Profiles de connexion…</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>m</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Placer dans le Dock</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>v</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Coller</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>n</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Nouvelle connection…</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>o</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Ouvrir une connexion…</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>l</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Ecoute du serveur…</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>w</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Fermer la fenêtre</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>h</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Masquer Chicken of the VNC</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>x</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Couper</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>h</string>
			<key>Modifiers</key>
			<integer>1572864</integer>
			<key>Title</key>
			<string>Masquer les autres</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>q</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Quitter Chicken of the VNC</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>,</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Préférences…</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>Z</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Rétablir</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>a</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Tout sélectionner</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>z</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Annuler</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>c</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Copier</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>p</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Mode plein écran</string>
		</dict>
	</array>
</dict>
</plist>
