<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConnectionFullscreenScenario</key>
	<array>
		<dict>
			<key>Characters</key>
			<string>`</string>
			<key>Modifiers</key>
			<integer>1835008</integer>
			<key>Title</key>
			<string>フルスクリーンモード</string>
		</dict>
	</array>
	<key>ConnectionWindowFrontmostScenario</key>
	<array>
		<dict>
			<key>Characters</key>
			<string>`</string>
			<key>Modifiers</key>
			<integer>1835008</integer>
			<key>Title</key>
			<string>フルスクリーンモード</string>
		</dict>
	</array>
	<key>NonConnectionWindowFrontmostScenario</key>
	<array>
		<dict>
			<key>Characters</key>
			<string>?</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Chicken ヘルプ</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>p</string>
			<key>Modifiers</key>
			<integer>1572864</integer>
			<key>Title</key>
			<string>プロファイル…</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>m</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>しまう</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>v</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>ペースト</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>n</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>新規接続...</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>o</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>接続…</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>l</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>リッスンモード...</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>w</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>ウインドウを閉じる</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>w</string>
			<key>Modifiers</key>
			<integer>1572864</integer>
			<key>Title</key>
			<string>Close All</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>h</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Chicken を隠す</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>x</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>カット</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>h</string>
			<key>Modifiers</key>
			<integer>1572864</integer>
			<key>Title</key>
			<string>ほかを隠す</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>q</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>Chicken を終了</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>,</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>環境設定…</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>Z</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>やり直す</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>a</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>すべてを選択</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>z</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>取り消す</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>c</string>
			<key>Modifiers</key>
			<integer>1048576</integer>
			<key>Title</key>
			<string>コピー</string>
		</dict>
		<dict>
			<key>Characters</key>
			<string>~</string>
			<key>Modifiers</key>
			<integer>1835008</integer>
			<key>Title</key>
			<string>フルスクリーンモード</string>
		</dict>
	</array>
</dict>
</plist>
